{
  "presets": [["env", {
    "targets": {
      "node": 6.9
    }
  }], "stage-0"],
  "plugins": [
    "babel-plugin-syntax-trailing-function-commas",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-flow-strip-types",
    "babel-plugin-transform-function-bind",
    "babel-plugin-transform-object-rest-spread"
  ]
}